# Python
__pycache__/
*.py[cod]

*.class

# Node
node_modules/
.wrangler/

# Environment variables
.dev.vars
.env

.secrets/

# misc
*.swp
*.zst

# Logs
*.log
*.jsonl

*.pid

# Command manager temporary files
.temp/

# ppdb
cosmocc.zip
/build/
cosmopolitan.zip
#cosmopolitan.a
*.exe
*.dbg
*.wal
/ppdb/build/
cross9.zip
cross9
*.o
!crt.o
!ape.o
*.a
*.com
/cosmopolitan
/ppdb/cosmopolitan
/ppdb/scripts/test_wal_concurrent
/ppdb/scripts/wal
cosmo.zip
tinycc_src/
cosmo_tinycc.zip
*.swo
*.bin
*.obj
ppdb/test_sync.tmp
cosmo/build/
cosmo/main.dat
cosmo/mingw64.7z
mingw64/
cosmo/ape/ape.o
cosmo/ape/test.dll
cosmo/test.dll
cosmo/test.dat
cosmo/test.elf
cosmo/test2.elf
# Reference repos
repos/
agentic/venv/
